.IMG{
    overflow: hidden;
}

img:hover{
    transform: scale(1.5);
    opacity: 0.6;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}


.wiggle {
    display: inline-block;
    animation: wiggle 0.3s ease-in-out infinite;
}


.wiggle:hover {
    animation: none;
}

@keyframes bounce{
    0%, 100% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5px);
    }
}

.BoutonRestaurant:hover{
    animation: bounce 0.3s ease-in-out;
}

/* animation entrée de page */ 
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    animation: fadeIn 1s ease-in-out;
}




